footer
  .container
    .row
      .col-md-6
        span.copyright Copyright &#169; A. Bloch Photography 2014
      .col-md-6
        ul.list-inline.quicklinks
          li
            a(href="http://instagram.com/amandaebprior/", target="_blank")
              img(src="img/lightbrown_instagram.png", alt="Instagram!")
          li
            a(href="https://www.facebook.com/ABlochPhotography", target="_blank")
              img(src="img/darkbrown_facebook.png", alt="Facebook!")
          li
            a(href="http://www.pinterest.com/amandaebloch/", target="_blank")
              img(src="img/lightbrown_pinterest.png", alt="Pinterest!")
      //- .col-md-4
      //-   ul.list-inline.quicklinks
      //-     li
      //-       a(href="#") Privacy Policy
      //-     li
      //-       a(href="#") Terms of Use